<app-team-selection *ngIf="step === 'teams'" (teamsSelected)="goToCategories($event)"></app-team-selection>
<app-category-selection *ngIf="step === 'categories'" 
                        [teams]="selectedTeams" 
                        [categories]="availableCategories" 
                        (categorySelected)="startGame($event)">
</app-category-selection>
<div *ngIf="step === 'game'" class="game-container">
  <h2>Kolej drużyny: {{ currentTeam.name }}</h2>
  <table>
    <thead>
      <tr>
        <th>Drużyna</th>
        <th>Punkty</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of selectedTeams">
        <td>{{ team.name }}</td>
        <td>{{ team.score }}</td>
      </tr>
    </tbody>
  </table>
  <div class="categories">
    <button *ngFor="let category of selectedCategories" 
            [ngClass]="getCategoryClass(category)"
            (click)="handleQuestionResult(category.name)">
      {{ category.name }}
    </button>
  </div>
</div>